/* font-family: "Fira Sans", serif; */

*{
    margin: 0 ;
    padding: 0;
   
    font-family: "Fira Sans", serif;
}

body{
    margin: 0 10%;
    background-color: #F5F5F5;
}

/* common styles */
.btn-primary{
    
    color: white;
    border-radius: 8px;
    border: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 500;

}

.section-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    padding: 0;
    margin-top: 80px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
}

.section-description{
    font-size: 16px;
    font-weight: normal;
    color: rgba(14,14,14,70%);
}

.card-icon{
    width: 62px;
    height: 62px;
    margin-bottom: 24px;
}


/* Navigation Bar */

nav {
    margin-top: 31px;
    margin-bottom: 31px;
 
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0;
    margin: 0;
   
}

nav h1 {
    font-size: 32px;
    font-weight: bold;
    width: 222px;
    
}

nav .signIn-btn{
    width: 116px;
    height: 52px;
    border: 2px solid #006A50;
    border-radius: 8px;
    color: #006A50;
    text-align: center;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
}


/* Banner */
.banner-container {
    background-color: #C6E4D6;
    border-radius: 24px;
    width:100%;
    height:10.56%;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.banner-container .banner-texts{
    padding-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-texts .mini-title{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14,14,14,50%);
}

.banner-texts h1{
    font-size: 56px;
    font-weight: bold;
    color:#0E0E0E;
    width:71%;
    height: auto;
    margin-top: 16px;
}

.banner-container .btn-primary 
{
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    width: 270px;
    height:56px;
    margin-top: 24px;
    

}

.banner-container .hero-img {
    width: 474.03px;
    height: 400px;
    padding: 80px 60px 80px 65px;
}



/* Pillars of BD section */

.pillars-of-bd .section-title{
    margin-bottom: 32px;
}

.pillars-of-bd .card-container{
    display: flex;
    justify-content: space-between;
}
.pillars-of-bd .cards{
    background-color: white;
    box-shadow: 0 0 0 calc(15% * 300px) #0E0E0E;
    border-radius: 16px;
    width: 19%;
    height: 245px;
    border: 1px solid rgba(14,14,14,10%);
    padding: 2% 2% 2% 2%;
    

}

.pillars-of-bd .card-title{
    padding-bottom: 12px;
}


/* Vision of Future  */
.vision-of-future .section-title{
    margin-bottom: 24px;
}

.vision-of-future .section-description{
    margin-bottom: 32px;
}

.vision-of-future .vision-card-container{
    display: flex;
    justify-content: space-between;
}
.vision-of-future .vision-card{
    background-color: white;
    padding: 2% 2% 2% 2%;
    width: 27%;
    height: 265px;
    border-radius: 16px;
    
    

}

.vision-card-container #bluish {
    background-color: rgba(84,144,245,20%);
    
}

.vision-card .card-title {
    margin-bottom: 12px;
}

.vision-card-container #bluish:hover {
    box-shadow: 5px 5px 10px #5490F5;
    transform: scale(1.02);
}

.vision-card-container button{
    width: 122px;
    height: 41px;
    
    margin-bottom: 25px;
}

.vision-card-container #bluish button {
    background-color: #5490F5;
}
.vision-card-container #bluish button:hover {
    box-shadow: 5px 5px 10px rgba(84,144,245,50%);
    transform: scale(1.02);
}

.vision-card-container #greenish {
    background-color: #C6E4D6;
}

.vision-card-container #greenish:hover {
    box-shadow: 5px 5px 10px #09A15C;
    transform: scale(1.02);
}

.vision-card-container #greenish button {
    background-color: #09A15C;
    margin-top:0px;
}
.vision-card-container #greenish button:hover {
    box-shadow: 5px 5px 10px rgba(9,161,92,50%);
    transform: scale(1.02);
}


.vision-card-container #yellowish {
    background-color: #F7EBCF;
}

.vision-card-container #yellowish:hover {
    box-shadow: 5px 5px 10px #FFC239;
    transform: scale(1.02);
}

.vision-card-container #yellowish button {
    background-color: #FFC239;
}
.vision-card-container #yellowish button:hover {
    box-shadow: 5px 5px 10px rgba(255,194,57,50%);
    transform: scale(1.02);
}



/* quote section */
.quotes {
    margin-top: 32px;
    
}

.quotes .quotes-container{
    
    border-radius: 16px;
    border: 1px solid rgba(14,14,14,10%);
    box-shadow: 5% 5% 15px rgba(14, 14, 14, 15%);
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    background: url(..//assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top 20% left 1.6%;
    background-color: white;
    

}



.quotes .section-description{
    padding-bottom: 12px;
    
}

.quotes .quoter{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
}

.quotes .quoter-pos{
    color: rgba(14,14,14,60%);
}


/* opinion section */

.opinion table {
    border-collapse: separate; 
    border-spacing: 0;
    width: 100%;
}

.opinion-table tr {
    width: 100%;
    height: 92px;
    font-size: 16px;
    font-weight: 600;
    
}

.opinion table td {
    border: 1px solid rgba(14,14,14,10%);   
}

.opinion table th{
    border-bottom: 4px rgba(14,14,14,10%);
}


.opinion-table .heading-content {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0E;
    
    
    
}

.opinion-table #firstRow {
    width: 100%;
    height: 72px;
    background-color: #C6E4D6;
}

.opinion-table .col1 {
    padding-left: 2%;
}

.opinion-table .col2 {
    text-align: center;
    
}

.opinion-table select, .opinion-table option {
    background-color: #C6E4D6;
    width: 80%;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
}

.opinion .opinion-table {
    margin-top: 24px;
    background-color: white;
    padding: 2%;
    border-radius: 16px;
    
}


/* Recent News Section */

.recent-news .section-title {
    margin-bottom: 24px;
}
.recent-news .section-description {
    margin-bottom: 24px;
}
.recent-news .news-card-container {
    margin-bottom: 80px;

}
.recent-news .news-card {
    margin-bottom: 24px;
    background-color: white;
    border-radius: 24px;
    height: 402px;
    display: flex;
}

.recent-news .card-texts {
    margin-top: 56px;
    margin-left: 3%;
}
.recent-news .news-headline {
    margin-bottom: 12px;
    font-size: 32px;
    font-weight: bold; 

}

.recent-news .card-img {
    margin-top: 48px;
    margin-left: 2%;
    
}
.recent-news .card-img img {
    border-radius: 25px;
}


.news-card .channel-logo {
    margin-bottom: 12px;
}

.news-card time {
   display: inline-block;
   margin-bottom: 12px;
}
.news-card .news {
   
   margin-bottom: 32px;
}
.news-card .btn-primary{
   
   background-color: #006A50;
   width: 13%;
   height: 48px;

}

.news-card-container #news-card-2  {
    display: flex;
    flex-direction: row-reverse;
}
.news-card-container #news-card-2  .card-img{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 0;
    margin-right: 2%;
    margin-bottom: 48px;
}


/* Donation Class */
.donation .section-title {
    text-align: center;
    margin-bottom: 24px;
}
.donation .section-description {
    
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
}

.donation .amount-card-container {
    display: flex;
    justify-content: space-between;
    margin: 32px 10% 32px 10%;
}
.donation .amount-card {
    background-color: white;
    width: 20%;
    height: 128px;
    border-radius: 16px;
    line-height: 125px;
    text-align: center;
    font-size: 40px;
    color: rgba(14, 14, 14, 80%);
    font-weight: bold;
}

.donation #selected-card {
    background-color: #C6E4D6;
}

.donation .amount-card:hover {
    background-color: #C6E4D6;
    box-shadow: 5px 5px 10px #09A15C;
    transform: scale(1.02);
}
.donation .other-amount {
    background-color: white;
    
    height: 64px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    color: rgba(14, 14, 14, 30%);
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 32px;
    width: 75%;
    border: none;
    
}


.donation .btn-primary
{
    background-color: #006A50;
    width: 10%;
    height: 56px;
    margin-left: 45%;

}



/* Newsletter Section */
.newsletter {
    background-color: #C6E4D6;
    width: 100%;
    height: 395px;
    border-radius: 24px;
    text-align: center;
    margin-top: 80px;
    padding-top: 25px;
    margin-bottom: 80px;

}


.newsletter .section-title {
    margin-bottom: 16px;
}


.newsletter .section-description {
    margin-bottom: 24px;
    width: 40%;
    padding-left: 30%;
}


.newsletter #email {
    background-color: white;
    font-size: 16px;
    font-weight: normal;
    color: rgba(14, 14, 14, 30%);
    border: 0;
    border-radius: 7px 0px 0px 7px;
    width: 50%;
    height: 55px;
    padding-left: 3%;
}

.newsletter .btn-primary {
    background-color: #006A50;
    width: 10%;
    height: 56px;
    border-radius: 0 7px 7px 0;
    margin-left: 0;
    height: 55px;
    
}

.newsletter .input-button-grp {
    display: flex;
    position: sticky;
    justify-content: center;
    margin-bottom: 25px;
}

/* Footer Section */

footer{
    background-color: white;
    
    margin-left: calc(-12.53%);
    margin-right: calc(-12.53%);
    /* margin-left: calc(-14%); */
    /* width: 100.32vw; */
    
}

footer .footer-title {
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
    text-align: center;
    margin-bottom: 32px;
    padding-top: 32px;
}


footer hr {
    
    border:1px solid rgba(14, 14, 14, 10%);
    width: 50%;
    margin-left: 25%;
    margin-bottom: 32px;
    
}

footer .img-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px;
    
   
}

footer img {
    width: 24px;
    height: 24px;
    margin-bottom: 50px;
}






